In [6]:
# Integer
a = 2
b = 3
print(a, b)
type(a)

2 3

int

In [8]:
# Float
a = 2.3
b = 3.5
print(a, b)
type(a)

2.3 3.5

float

In [ ]:
# String
x = "XYZ"
y = "12345678"
print(x, y)
type(y)

In [10]:
# Boolean
a = True
b = False
print(a, b)
type(a)

True False

bool

In [14]:
print(2 ** 3)
print(5 % 2)

8
1

In [23]:
a = 3
a = a + 1
print(a)
a += 1
print(a)

4
5

In [26]:
a = 3
a = a - 1
print(a)
a -= 1
print(a)

2
1

In [18]:
a = float(10)
print(a)
type(a)

10.0

float

In [30]:
a = float(10)
print(a)
type(a)

10.0

float

In [37]:
a = 3.5
a = int(a)
print(a)
type(a)

3

int

In [38]:
a = 10
b = 3
print(a / b)
type(a / b)

3.3333333333333335

float

In [41]:
a = 3.3
b = 3.6
a = int(a)
b = int(b)
print(a + b)
type(a + b)

6

int

In [45]:
fruits = [
    "apple",
    "grape",
    "banana",
]
print(fruits[0])

apple

In [50]:
cities = [
    "서울",
    "세종",
    "부산",
    "대전",
    "대구",
    "인천",
    "광주",
    "울산",
]
print(cities[3:6])
print(cities[-4:])
print(cities[0:7:2])
print(cities[::-2])

['대전', '대구', '인천']
['대구', '인천', '광주', '울산']
['서울', '부산', '대구', '광주']
['울산', '인천', '대전', '세종']

In [1]:
f = [
    "apple",
    "grape",
    "banana",
]
f2 = [
    "orange",
    "mango",
    "strawberry",
]

fruits = f + f2
print(fruits)

['apple', 'grape', 'banana', 'orange', 'mango', 'strawberry']

In [5]:
fruits[0] = "cherry"
print(fruits * 2)

['cherry', 'grape', 'banana', 'orange', 'mango', 'strawberry', 'cherry', 'grape', 'banana', 'orange', 'mango', 'strawberry']

In [6]:
"apple" in fruits

False